@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<style>
    .jumbotron {
        text-align: center;
    }
    
    .lead {
        font-size: 68px; /* Boyutu artırdım */
        font-weight: bold; /* Kalın yazı */
        margin: 110px auto; /* Üst ve alttan boşluk */
    }
    
    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px; /* Logolar arasındaki boşluk */
        margin-top: 170px; /* Hoş geldiniz yazısı ile logolar arasındaki mesafe */
    }
</style>

<div class="jumbotron">
    <p class="lead"> Hoş geldiniz! </p>
    
    <!-- Logo container -->
    <div class="logo-container">
        <!-- First logo -->
        <div>
            <img src="https://www.sabancidx.com/images/sabancidx-logo.svg" alt="SDX Logo" height="80" />
        </div>
        
        <!-- Second logo -->
        <div>
            <img src="https://yildizik.org/wp-content/uploads/2021/03/Eti-Logo-1-7.png" alt="eti Logo" height="170" width="auto" />
        </div>
    </div>
</div>
