@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}


<div class="jumbotron">
    <h1>Sabancidx  💜 ETİ </h1>
    <p class="lead">Sabancidx test app.</p>
    
    <!-- Logo container with centering styles -->
    <div class="text-center mt-5">
        <div class="d-flex justify-content-center align-items-center">
            <!-- First logo -->
            <div class="mx-4">
                <img src="https://www.sabancidx.com/images/sabancidx-logo.svg" alt="SDX Logo" height="80" />
            </div>
            
            <!-- Second logo -->
            <div class="mx-4">
                <img src="https://cdn.mediacat.com/uploads/2013/01/eti-logo-e1357116666213.jpg" alt="eti Logo" height="80" />
            </div>
        </div>
    </div>
</div>