@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}


<style>
    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh; /* Dikey ortaya almak için ekran yüksekliğinin yarısı kadar boşluk */
        gap: 60px; /* Logolar arasındaki boşluk */
    }
</style>

<div class="jumbotron">
    <h1>Sabancidx 💜 ETİ</h1>
    <p class="lead">Sabancidx test app.</p>
    
    <!-- Logo container -->
    <div class="logo-container">
        <!-- First logo -->
        <div>
            <img src="https://www.sabancidx.com/images/sabancidx-logo.svg" alt="SDX Logo" height="80" />
        </div>
        
        <!-- Second logo -->
        <div>
            <img src="https://yildizik.org/wp-content/uploads/2021/03/Eti-Logo-1-7.png" alt="eti Logo" height="120" width="auto" />
        </div>
    </div>
</div>