@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}


<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
    
    <!-- Logo container with centering styles -->
    <div class="text-center mt-5">
        <div class="d-flex justify-content-center align-items-center">
            <!-- First logo -->
            <div class="mx-4">
                <img src="/workspaces/sdx-test/Pages/images/sabancidx-logo.webp" alt="SDX Logo" height="80" />
            </div>
            
            <!-- Second logo -->
            <div class="mx-4">
                <img src="/workspaces/sdx-test/Pages/images/eti-logo.png" alt="eti Logo" height="80" />
            </div>
        </div>
    </div>
</div>